.background-header{
    background-image: url('/images/imgheaderproj.png');
}

.text-header{
    text-align: left;
    margin-inline: 8vw;
    padding-top: 3rem;
}
.content{
    background-color: #1B1919;
    position: relative;
    background-image: url(/images/background2.png);
    padding-left:8vw;

    
}
.content::before{
    background-color:#dddddd00;
}
.proj-text{
    margin-bottom: 4vh;
    padding-top: 4vh;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}
    
.carousel-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    overflow-x: auto;
}
     
.video-card1 {
    flex: 0 0 33.33%; /* 3 vídeos por vez */
    /* padding-inline: 5px; */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.video-card2 {
    flex: 0 0 auto; /* impede de encolher */
    height: 60vh;
    scroll-snap-align: start;
    width: 20%; /* 5 vídeos lado a lado */
    padding-inline: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y:hidden;
}
    
.maisrecentes, .recorrentes{
    padding-bottom: 10rem;
}
.recorrentes{
    padding-right: 8vw;
}
.recorrentes-top, .maisrecentes-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
    padding-right: 8vw;
}

.setas{
    display: flex;
}
.setas svg{
    color: white;

}
.video-card1 iframe {
    width: 100%;
    height: 230px;
    border-radius: 2px;
    border: none;
    display: block;
}
.video-card2 iframe {
    width: 100%;
    height: 60vh;
    border-radius: 2px;
    border: none;
    display: block;
}
    
    
.video-card1:hover {
    transform: scale(1.1);
    z-index: 2;
}

.carousel:hover .video-card1:not(:hover) {
    opacity: 0.4;
}

.video-card2:hover {
    transform: scale(1.1);
    z-index: 2;
}

.carousel:hover .video-card2:not(:hover) {
    opacity: 0.4;
}

@media (max-width: 600px) {
    .proj-text{
        font-size: 1.5rem;
    }
    .text-header{
        padding-top: 2rem;
    }
    .video-card1 {
        flex: 0 0 60%; /* 3 vídeos por vez */
        /* padding-inline: 5px; */
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .video-card2 {
        flex: 0 0 100%; /* impede de encolher */
        height: 60vh;
        scroll-snap-align: start;
        width: 20%; /* 5 vídeos lado a lado */
        padding-inline: 5px;
        transition: transform 0.3s ease;
    }
    .video-card1:hover {
        transform: scale(1.1);
        z-index: 2;
    }
    
    .carousel:hover .video-card1:not(:hover) {
        opacity: 1;
    }
    
    .video-card2:hover {
        transform: scale(1.1);
        z-index: 2;
    }
    
    .carousel:hover .video-card2:not(:hover) {
        opacity: 1;
    }
    .carousel-track:hover .video-card1 {
        filter: brightness(1);
      }
}

